body, html{
  height:100%;
}
body{
  position: static;
  margin: 0px;
  background-color: black;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.wrapper {
  position: relative;
  margin: 0px auto;
  width: 1400px;
  background: url(src/dancefloor.jpg) no-repeat;
  height: 100%;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.fightingDancer{
  /*
  fightingDancer is the one that looks like a penguin PINGOOOOOOO
   */
  position: absolute;
  top: 700px;
  left: 500px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-position: top left 128px 92px;
  background-image: url('src/pingo2.png');

}

.twitterDancer{
  position: absolute;
  top: 700px;
  left: 500px;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-position: top left 128px 92px;
  background-image: url('src/twitter-bird-sprite.png');

}

.ninjaDancer{
  position: absolute;
  top: 700px;
  left: 300px;
  display: inline-block;
  width: 151px;
  height: 200px;
  background-position: top left 0px 560px;
  background-image: url('src/ninjaSprite2.png');

}
